<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'">

</head>
<body>
<section>
    <div class="content-wrapper">
        <h3>病例</h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>序号</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>作者</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>标题</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>内容</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>发布时间</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>评论数</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>点赞数</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>热门</th>
            <th style='vertical-align: middle;text-align: center;color: #136387; font-style: italic;font-weight:bold;'>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="case:${case}">
            <td class="text-center" th:text="${case.id}"></td>
            <td th:text="${case.name == null ? case.nickName:case.name}" style="vertical-align: middle;text-align: center;"></td>
            <td th:text="${case.title}" style="word-break: break-all"></td>

            <td>
                <table class="table table-hover">
                    <tr>
                        <td style="color: #136387; font-style: italic;font-weight:bold;">主诉</td>
                        <td>
                            <table>
                                <div style="height:60px;overflow:auto;">
                                    <span th:text="${case.chiefComplain}" ></span>
                                </div>
                                <div th:if="${not #strings.isEmpty(case.chiefComplainImage)}" class="gallery cf" th:each="images, imageStatus:${case.chiefComplainImages}" style=" width:60px; height:30px; border:0px solid #FF6699; float:left">
                                    <div>
                                        <img style="width:30px;height:30px;" class="img-thumbnail" th:src="${images}"/>
                                    </div>
                                </div>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="color: #136387; font-style: italic;font-weight:bold;">查体</td>
                        <td>
                            <table>
                                <div style="height:60px;overflow:auto;">
                                    <span th:text="${case.bodyCheck}"></span>
                                </div>
                                <div th:if="${not #strings.isEmpty(case.bodyCheckImage)}" class="gallery cf" th:each="images, imageStatus:${case.bodyCheckImages}" style=" width:60px; height:30px; border:0px solid #FF6699; float:left">
                                    <div>
                                        <img style="width:30px;height:30px;" class="img-thumbnail" th:src="${images}"/>
                                    </div>
                                </div>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="color: #136387; font-style: italic;font-weight:bold;">诊断</td>
                        <td>
                            <table>
                                <div style="height:60px;overflow:auto;">
                                    <span th:text="${case.medicalDiagnosis}"></span>
                                </div>
                                <div th:if="${not #strings.isEmpty(case.medicalDiagnosisImage)}" class="gallery cf" th:each="images, imageStatus:${case.medicalDiagnosisImages}" style=" width:60px; height:30px; border:0px solid #FF6699; float:left">
                                    <div>
                                        <img style="width:30px;height:30px;" class="img-thumbnail" th:src="${images}"/>
                                    </div>
                                </div>
                            </table>
                        </td>
                    </tr>


                    <tr>
                        <td style="color: #136387; font-style: italic;font-weight:bold;">随访</td>
                        <td>
                            <table>
                                <div style="height:60px;overflow:auto;">
                                    <span th:text="${case.followUp}"></span>
                                </div>
                                <div th:if="${not #strings.isEmpty(case.followUpImage)}" class="gallery cf" th:each="images, imageStatus:${case.followUpImages}" style=" width:60px; height:30px; border:0px solid #FF6699; float:left">
                                    <div>
                                        <img style="width:30px;height:30px;" class="img-thumbnail" th:src="${images}"/>
                                    </div>
                                </div>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
            <!--时间格式化-->
            <td th:text="${#calendars.format(case.createdAt,'yyyy/MM/dd HH:mm')}" style="white-space: nowrap"></td>
            <td th:text="${case.commentCount}" style="vertical-align: middle;text-align: center;"></td>
            <td th:text="${case.likeCount}" style="vertical-align: middle;text-align: center;"></td>
            <td th:text="${case.isHot == 1? '是':'否'}" style="vertical-align: middle;text-align: center;"></td>
            <td>
                <div class="p-lg text-center">
                    <a class="btn btn-default btn-block" data-target="#modal-delete-case" data-toggle="modal" href="#">
                        <strong>删除</strong>
                    </a>
                </div>
            </td>

        </tr>
        </tbody>
    </table>



</section>

</body>
<script type='text/javascript'>

</script>
<style>
    .gallery {
        width: 30px;
        margin: 10px auto;
        /*padding: 5px;*/
        /*background: #333;*/
    }

    .gallery > div {
        position: relative;
        float: left;
        padding: 1px;
    }

    .gallery > div > img {
        width: 250px;
        transition: .1s transform;
        transform: translateZ(0);
        /* hack */
    }

    .gallery > div:hover {
        z-index: 1;
    }

    .gallery > div:hover > img {
        transform: scale(15, 15);
        transition: .3s transform;
    }

    .cf:before, .cf:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .cf:after {
        clear: both;
    }


</style>

</html>
