<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='favorites'"></head>
<body>
<section>
    <div class="content-wrapper">
        <h3>用户列表</h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>公司/单位</th>
            <th>部门/科室</th>
            <th>职位</th>
            <th>所在医院</th>
            <th>邮箱</th>
            <th>手机号</th>
            <!--<th>注册时间</th>-->
            <th>头像</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${authenUser}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}" style="white-space: nowrap"></td>
            <td th:text="${user.nickName}" style="white-space: nowrap"></td>
            <td th:text="${user.company}" style="white-space: nowrap"></td>
            <td th:text="${user.department}" style="white-space: nowrap"></td>
            <td th:text="${user.postion}" style="white-space: nowrap"></td>
            <td th:text="${user.hospital}" style="white-space: nowrap"></td>
            <td th:text="${user.email}" style="white-space: nowrap"></td>
            <td th:text="${user.mobilePhone}" style="white-space: nowrap"></td>
            <!--<td th:text="${user.stateDate}" style="white-space: nowrap"></td>-->
            <td><img alt="" width="100px" height="100px" class="img-thumbnail" th:src="${user.userPic == null || user.userPic == 'defaultPic' ?'img/logo.png':user.userPic}"/></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
<script type='text/javascript'>
</script>
</html>
